<h1>This is home page</h1>
<h3>Following are the available list of Cars today</h3>

<div>
<div style="color:red"> {{#if errors}}{{errors.error}}{{/if}}</div>
	<form action="/authenticate" method="get">
		Username <input type="text" name="username" placeholder="Enter username here"/><br/>
		Password <input type="password" name="password" placeholder="Enter password here"/><br/>
		<input type="submit" value="Login"/>
	</form>
</div>

<table border="0">
<tr>
	<th>Name</th>
	<th>Model</th>
	<th>Color</th>
</tr>
  {{#each cars}}
  <tr>
 	<td><a href="/feature?id={{id}}">{{name}}</a></td>
  	<td>{{model}}</td>
  	<td>{{color}}</td>
  	</tr>
  {{/each}}
</table>